* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}
label {
    display: block;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    position: relative;
    border: 3px solid black;
    background-color: rgb(105, 105, 169);
    border-radius: 15px;
    margin: 0;
}

option {
    background-color: rgb(197, 197, 235);
}

#title {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(197, 197, 235);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
}

#bodytext {
    min-width: 480px;
    max-width: 480px;
    min-height: 250px;
    max-height: 250px;
    border: 1px solid black;
    background-color: rgb(197, 197, 235);
    border-radius: 5px;

}

#users {
    width: 50px;
    border: 1px solid black;
    background-color: rgb(197, 197, 235);
    border-radius: 5px;
    
}

#submit {
    padding: 5px;
    border-radius: 10%;
    background-color: rgb(197, 197, 235);
    border-radius: 5px;

}

.nousers {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.nousers {
    font-size: 20px;
}


.error {
    border: 3px solid red!important;
    
}

.card {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color:rgb(105, 105, 169);
    border: 3px solid gray;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.card span {
    padding: 5px;
    display: block;
}